<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>556046356336-u4o6sc6m274dk9uclpce78a8rfjp9f4q.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.556046356336-u4o6sc6m274dk9uclpce78a8rfjp9f4q</string>
	<key>API_KEY</key>
	<string>AIzaSyDaD8-puD638CQswWdNSZper8aLrfzT-c0</string>
	<key>GCM_SENDER_ID</key>
	<string>556046356336</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.zalonin</string>
	<key>PROJECT_ID</key>
	<string>salon-ee42e</string>
	<key>STORAGE_BUCKET</key>
	<string>salon-ee42e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:556046356336:ios:d815a343812a52a4</string>
	<key>DATABASE_URL</key>
	<string>https://salon-ee42e.firebaseio.com</string>
</dict>
</plist>